[submodule "utilities/yml_to_tex"]
	path = utilities/yml_to_tex
	url = https://github.com/aljedaxi/yml_to_tex
[submodule "types_and_settings/yml_to_tex"]
	path = types_and_settings/yml_to_tex
	url = https://github.com/aljedaxi/yml_to_tex
